body {
  font-family: Helvetica, sans-serif;
}

section {
  margin: 0px auto;
  width: 920px;
}

section.header {
  padding: 15px;
}

section.header .signature {
  font-style: italic;
  letter-spacing: 0.001em;
  font-size: 15px;
  color: #555;
}

section.header .signature > a {
  text-decoration: none;
  transition: all 500ms ease;
}

section.header .signature > a:hover span {
  opacity: .9;
}

section.header .signature > a > span {
  background: #F1664F;
  padding: 10px 8px;
  margin-left: 5px;
  color: #FFF;
}

section.header h1 {
  color: #5E5B64;
  font-size: 60px;
}

section.header h2 {
  margin-top: -30px;
  color: #F1664F;
}

section.header h3 {
  color: #5E5B64;
}

section.topic h2 {
  margin-top: 60px;
  font-size: 35px;
  color: #5E5B64;
}

section.topic p {
  color: #555;
  font-size: 22px;
  font-weight: lighter;
}

.btn {
  padding: 10px;
  text-decoration: none;
}

.btn.download {
  background: #63C7EA;
  color: #FFF;
}

.waterfall {
  background-color: #f2f2f2;
  padding: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  visibility: visible;
}

.waterfall .item {
  background-color: orange;
  text-align: center;
  display: inline-block;
  font-size: 40px;
  color: #FFF;
  height: 20%;
  width: 28.5%;
  margin: 1%;
  padding: 10px;

  -webkit-animation: anim .8s ease-in-out;
  animation: anim .8s ease-in-out;
}

@-webkit-keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.waterfall .item:nth-child(1n+1) {
  background-color: red;
  height: 150px;
}

.waterfall .item:nth-child(2n+4) {
  background-color: orange;
  height: 150px;
}

.waterfall .item:nth-child(2n+1) {
  background-color: pink;
  height: 50px;
}

footer {
  height: 30px;
  width: 100%;
  background: #5E5B64;
  padding: 0px;
  margin: 0px;
  margin-top: 100px;
}

@media (max-width: 920px) {
  section.header {
    padding: 0px;
  }

  section {
    width: 100%;
  }

  .waterfall .item {
    font-size: 30px;
    width: 30.5%;
    padding: 0px;
    padding-top: 20px;
  }

  table img {
    width: 60px;
    height: 60px;
  }
}
