body {
  font-family: Helvetica, sans-serif;
}

section {
  margin: 0px auto;
  width: 1120px;
}

header {
  padding: 15px;
}

header .signature {
  font-style: italic;
  letter-spacing: 0.001em;
  font-size: 15px;
  color: #555;
}

header .signature > a {
  text-decoration: none;
  transition: all 500ms ease;
}

header .signature > a:hover span {
  opacity: .9;
}

header .signature > a > span {
  background: #F1664F;
  padding: 10px 8px;
  margin-left: 5px;
  color: #FFF;
}

header h1 {
  color: #5E5B64;
  font-size: 60px;
}

header h2 {
  margin-top: -30px;
  color: #F1664F;
}

header h3 {
  color: #5E5B64;
}

.waterfall {
  background-color: #f2f2f2;
  padding: 0;
  width: 1120px;
  height: 270px;
  margin: 0 auto;
}

.waterfall .item {
  background-color: orange;
  text-align: center;
  font-size: 40px;
  color: #FFF;
  height: 250px;
  width: 29%;
  margin: 1%;
  padding: 10px;

  -webkit-animation: anim .8s ease-in-out;
  animation: anim .8s ease-in-out;
}

@-webkit-keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.waterfall .item:nth-child(1n+1) {
  background-color: red;
  height: 250px;
}

.waterfall .item:nth-child(2n+4) {
  background-color: orange;
  height: 50px;
}

.waterfall .item:nth-child(2n+1) {
  background-color: pink;
  height: 50px;
}